.freelanser-label{
  background-color: $light-pink;
  border-radius: 0 0 .5em .5em;
  position: absolute;
  top: 0;
  max-height:65px;
  &__text{
  	color: white;
  	@include text-size($md-size,1);
  	padding: 1em .8em .4em .8em;
  &_blue_dot_after::after{
      content:'.';
      color: $dark-blue;
    }
  }
}