/*common*/
.wrapper {
  width: 100%;
  max-width: 70vw;
  margin: 0 auto;
}

.button {
  border: 0;
  color: #fff;
  text-transform: uppercase;
  margin: 2em 0 1em 0;
}

.button_red {
  padding: 1em 2.2em;
  border-radius: .3em;
  background-color: #fa5c65;
}

.button_red_hovered:hover {
  background-color: #263742;
}

.button-arrow {
  background-color: #fff;
  color: #fa5c65;
  padding-left: 0;
}

.button-arrow_hovered:hover {
  color: #263742;
}

.heading {
  color: #263742;
  text-transform: uppercase;
  white-space: pre-line;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.heading_size_lg {
  font-size: calc(1.5em + 1vw);
  line-height: 1;
}

.heading_size_md {
  font-size: 1.3em;
  line-height: 1;
}

.heading_size_sm {
  font-size: 0.8em;
  line-height: 1;
  padding: 1em 0 1em 0;
}

.paragraph {
  color: #9aa0ab;
  white-space: pre-line;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.5;
}

.paragraph_red {
  color: #fa5c65;
  padding-bottom: 1em;
}

.paragraph:last-child {
  white-space: normal;
}

@media (max-width: 700px) {
  .card {
    text-align: center;
    margin-right: 0;
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin: 5em 0 5em 0;
}

.flex-container_margin_reset {
  margin: 0;
}

@media (max-width: 700px) {
  .flex-container {
    flex-direction: column;
    margin: 1em 0 1em 0;
  }
}

.main {
  border-bottom: 2px solid #b9c0c6;
}

.block {
  text-align: right;
  margin-bottom: 2em;
}

.dot {
  color: #f0454c;
}

/*header*/
.background-image {
  background: url("../img/background-image.png") no-repeat top center;
  background-size: cover;
}

.freelanser-label {
  background-color: #fa5c65;
  border-radius: 0 0 .5em .5em;
  position: absolute;
  top: 0;
  max-height: 65px;
}

.freelanser-label__text {
  color: white;
  font-size: 1.3em;
  line-height: 1;
  padding: 1em .8em .4em .8em;
}

.freelanser-label__text_blue_dot_after::after {
  content: '.';
  color: #263742;
}

.nav-menu {
  display: flex;
}

.menu {
  display: flex;
  justify-content: flex-end;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  padding-top: .5em;
}

.menu-toggle {
  text-transform: uppercase;
  display: none;
  padding: 1em;
}

.menu-toggle_hovered:hover {
  background-color: #b9c0c6;
  opacity: .7;
}

.link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #263742;
}

.link_size_md {
  padding: 1em;
}

.link_hovered:hover {
  color: #fa5c65;
}

.nav-i {
  padding: 1em;
  color: #fa5c65;
}

.nav-i_hovered:hover {
  color: #263742;
}

@media (max-width: 890px) {
  .social {
    display: none;
  }
  .menu {
    padding: 0;
    position: absolute;
    right: 0;
  }
  .menu-toggle {
    display: block;
  }
  .nav-menu {
    display: none;
  }
  .menu:hover .nav-menu {
    display: block;
  }
  .link {
    background-color: #b9c0c6;
    opacity: .8;
  }
}

/*slogan*/
.motto-block {
  max-width: 500px;
  padding: 20em 0 15em 0;
}

@media (max-width: 620px) {
  .motto-block {
    padding: 0;
    padding-top: 10em;
  }
}

/*portfolio*/
.mac-img {
  width: 40vw;
  max-width: 700px;
}

/*footer*/
.flex-footer {
  display: flex;
  justify-content: space-between;
  padding: 2em 0 2em 0;
}

.footer-i {
  color: #b9c0c6;
}

.footer-i_hovered:hover {
  color: #fa5c65;
}

@media (max-width: 700px) {
  .flex-footer {
    flex-direction: column;
  }
}
