.red_dot_after::after{
	@include dot($dot-red);
}

.blue_dot_after::after{
	@include dot($dark-blue);
}

.dot_red{
	color: $dot-red;
}

.padding_block{
	padding-top:.5em;
	padding-left: .9em;
}

.padding_block:last-child{
	padding-left: 0;
}

.button_align_right{
	text-align: right;
}

.i_pink{
	font-size: calc(.2em + 1vw);
	padding: 1em;
	color: $light-pink;
}

.i_grey{
	color:$light-grey;
}